html, body{
    background-color: #111111;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.main {
    width: 90%;
    height: 90%;
    margin: 0% auto;
    padding: 10px;
}
.grid{
    background-color: #01ff70;
    border-collapse: collapse;
    width:  auto;
    height: auto;
    border: 0;
}
.grid td {
    background-color: silver;
    border: 1px solid #dddddd;
    /* GENE  CSS3 */ transition-property: background-color;
    /* GENE  CSS3 */ transition-duration: .1s;
    /* GENE  CSS3 */ transition-timing-function: ease-out;
}
.grid tr {
}
td.mire{
    background-color: #CBCBCB;
}
td.cursor{
    background-color: #2ecc40;
}


