<table class='grid sprites'>
    <colgroup>
    {{#gridlines}}
     <col class="col-grid">
    {{/gridlines}}
    </colgroup>
    {{#gridlines}}
    <tr>
        {{#zone}}
        <td class='{{cls}}' data-x='{{x}}' data-y='{{y}}'>
            {{#robot}}<div class="sprite">
                <div class='troup strobe small' title='un robot!!' data-toggle='tooltip' data-placement='top' data-zone='3'></div>
            </div>{{/robot}}
            {{#blob}} <div class="sprite"><blob  class='troup strobe small' title='un robot!!' data-toggle='tooltip' data-placement='top' data-zone='3'></blob></div>{{/blob}}
        </td>
        {{/zone}}
    </tr>
    {{/gridlines}}
</table>
